In [5]:
import pandas as pd

# 91.16 GeV

In [14]:
id_df = pd.read_csv("data/91.19GeV/name_id_particle.dat",header=None)
id_df.columns=['Nome', 'ID']
id_df.drop_duplicates().to_csv('Nome e id das particulas.csv',index=False)
id_df.drop_duplicates()

           Nome    ID
0         gamma    22
3           pi+   211
4            n0  2112
5         pbar- -2212
6           pi-  -211
9            K+   321
11           K-  -321
52           p+  2212
57         K_L0   130
107       nbar0 -2112
271      nu_tau    16
272   nu_taubar   -16
451         mu+   -13
452       nu_mu    14
480         mu-    13
560    nu_mubar   -14
975          e-    11
976          e+   -11
1080    nu_ebar   -12
1435       nu_e    12

# 209GeV

In [15]:
id_df = pd.read_csv("data/209GeV/name_id_particle.dat",header=None)
id_df.columns=['Nome', 'ID']
id_df.drop_duplicates().to_csv('Nome e id das particulas.csv',index=False)
id_df.drop_duplicates()

          Nome    ID
0        gamma    22
3           K+   321
4          pi+   211
5          pi-  -211
15       pbar- -2212
17          p+  2212
19       nbar0 -2112
28        K_L0   130
60          e+   -11
61        nu_e    12
62          n0  2112
78          K-  -321
87      nu_tau    16
89   nu_taubar   -16
182        mu+   -13
183      nu_mu    14
198        mu-    13
199   nu_mubar   -14
266         e-    11
437    nu_ebar   -12