In [1]:
import pandas as pd

In [2]:
id_df = pd.read_csv("data/id.dat",header=None)
id_df.shape[0]

36651

In [6]:
len(id_df[0]) == id_df.shape[0]

True

In [12]:
id_df.drop_duplicates()

          0
0      22.0
3     321.0
4     211.0
5    -211.0
15  -2212.0
17   2212.0
19  -2112.0
28    130.0
60    -11.0
61     12.0
62   2112.0
78   -321.0
87     16.0
89    -16.0
182   -13.0
183    14.0
198    13.0
199   -14.0
266    11.0
437   -12.0