In [17]:
import pandas as pd

In [23]:
id_df = pd.read_csv("data/name_id_particle.dat",header=None)
id_df.columns=['Nome', 'ID']
id_df.shape[0]

36651

In [27]:
id_df.drop_duplicates().to_csv('Nome e id das particulas.csv',index=False)

In [28]:
id_df.drop_duplicates()

          Nome    ID
0        gamma    22
3           K+   321
4          pi+   211
5          pi-  -211
15       pbar- -2212
17          p+  2212
19       nbar0 -2112
28        K_L0   130
60          e+   -11
61        nu_e    12
62          n0  2112
78          K-  -321
87      nu_tau    16
89   nu_taubar   -16
182        mu+   -13
183      nu_mu    14
198        mu-    13
199   nu_mubar   -14
266         e-    11
437    nu_ebar   -12